#titulo {
    text-align: center;
    font-family:fantasy;
    letter-spacing: 5px;
    margin: 10px;
    border: solid;
    border-color: black;
    color: purple;
}
    body {
        background: url("/img/fondo.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #mensaje {
        inline-size: 300px;
    }
    .col-md-12 {
        padding: 1 0 0 38%;
    }
    .casilla {
        inline-size: 50px;
        block-size: 50px;
        text-align: center;
    }
    .table1 {
        inline-size: 1200px;
        margin-inline-start: 50px;
    }

    .table2 {
        margin-inline-start: 200px;
    }

    .table2 td{
        padding: 0;
    }

    @media (max-inline-size: 600px) {
        .col-md-12 {
            padding: 0 0 0 18%;
        }
    }